<div class="container">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to 'Image&Text', image_texts_path %></li>
      <li><a href="#">Image</a></li>
      <li><a href="#">Audio</a></li>
      <li><a href="#">Video</a></li>
    </ul>
  </div>
  <div class="col-md-9">
    <%= link_to " New ", new_image_path, class: "btn btn-success" %>
    <div class="main-content">
      <br>
      <%= simple_form_for @image, url: images_path, html: { role: 'form' } do |f| %>
        <%= f.input :image, wrapper_html: { class: "form-group" } %>
        <%= f.button :submit, value: "submit", class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
